<%- include header %>
<p>
  <% if (user) { %>
    <% if (user.name == post.name) { %>
      <span><a class="edit" href="/edit/<%= post._id %>">编辑</a></span>
      <span><a class="edit" href="/delete/<%= post._id %>">删除</a></span>
    <% } else { %>
      <span><a class="edit" href="/reprint/<%= post._id %>">转载</a></span>
    <% } %>
  <% } %>
</p>
<p class="info">
  作者：<a href="/u/<%= post.name %>"><%= post.name %></a> | 
  日期：<%= post.time %> | 
  标签：
  <% post.tags.forEach(function (tag) { %>
    <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
  <% }) %>
  <% if (post.reprint_id) { %>
    | <a href="/p/<%= post.reprint_id %>">原文链接</a>
  <% } %>
</p>
<p><%- post.content %></p>
<p class="info">
  阅读：<%= post.pv %> | 
  评论：<%= post.comments.length %> |
  转载：<%= post.reprint_num || 0 %>
</p>
<%- include comment %>
<%- include footer %>