<%- include header %>
<form method="post">
  标题：<br />
  <input type="text" name="title" value="<%= post.title %>" /><br />
  标签：<br />
  <input type="text" name="tags[1]" value="<%= post.tags[0] || '' %>" /> 
  <input type="text" name="tags[2]" value="<%= post.tags[1] || '' %>" /> 
  <input type="text" name="tags[3]" value="<%= post.tags[2] || '' %>" /><br />
  正文：<br />
  <textarea name="content" rows="20" cols="100"><%= post.content %></textarea><br />
  <input type="submit" value="保存修改" />
</form>
<%- include footer %>