<%- include header %>
<% posts.forEach(function (post) { %>
  <p>
    <h2><a href="/p/<%= post._id %>"><%= post.title %></a></h2>
    <a href="/u/<%= post.name %>"><img src="<%= post.avatar %>" class="r_head" /></a>
  </p>
  <p class="info">
    作者：<a href="/u/<%= post.name %>"><%= post.name %></a> | 
    日期：<%= post.time %> | 
    标签：
    <% post.tags.forEach(function (tag) { %>
      <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
    <% }) %>
  </p>
  <p><%- post.content %></p>
  <p class="info">
    阅读：<%= post.pv %> | 
    评论：<%= post.comments.length %> |
    转载：<%= post.reprint_num || 0 %>
  </p>
<% }) %>
<%- include paging %>
<%- include footer %>